@import '../_vars';

.categories-page {

    .categories-list {
        display: flex;
        margin-top: 24px;
        flex-direction: column;
        max-height: 600px;

        .category-card {
            position: relative;
            display: block;
            height: 150px;
            margin-bottom: 20px;
            overflow: hidden;
            color: @cWhite;
            border-radius: 10px;
            transition: cursor @transitTime;

            &.green {
                background: green;
            }

            &.red {
                background: red;
            }

            &.purple {
                background: purple;
            }

            &:hover {
                overflow: initial;

                .wrapper {
                    position: absolute;
                    transform: translateY(-50px);
                }
            }

            .wrapper {
                .size(100%);
                display: flex;
                top: 0;
                left: 0;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                transition: transform @transitTime;
                background: inherit;
                border-radius: @borderRadius;
            }

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;

                .img-block {
                    width: 50%;
                    transition: padding-bottom @transitTime;

                    .picture {
                        width: 100%;
                        margin: 0 auto;
                    }
                }

                span {
                    font-weight: @fBold;
                    font-size: 16px;
                }
            }

            .content {
                display: flex;
                flex-direction: column;

                a {
                    margin-left: auto;
                    margin-top: 24px;
                    margin-bottom: 12px;
                }
            }
        }
    }
}
